* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #54d5f2;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("https://source.unsplash.com/1600x900/?landscape"); */
}

.caixa-maior {
    background: black;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 500px;
}

.input-cidade {
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 10px;
    font-size: 18px;
    background-color: #7c7c7c2b;
    color: #ffff;
    width: calc(100% - 70px);
}

.botao-busca {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;
}

.img-busca {
    width: 20px;
}

.caixa-media {
    margin-top: 30px;
}

.cidade {
    color: #fff;
    font-size: 28px;
    font-weight: 300;
}

.temp {
    color: #fff;
    font-weight: 300;
    margin-top: 20px;
}

.caixa-menor {
    display: flex;
    align-items: center;
}

.texto-previsao {
    color: #fff;
    margin-left: 20px;
    text-transform: capitalize;
}

.max-min-temp {
    color: #fff;
    display: flex;
    justify-content: space-evenly;
}

.umidade {
    color: #fff;
    margin-top: 20px;
}